p {
  color: rgb(34, 83, 120);
}

body {
  background-color: rgb(255, 255, 226);
}

.nav-bar {
  background-color: rgb(22, 149, 163);
  color: rgb(172, 240, 242);
}

.not-sure-yet {
  color: rgb(235, 127, 0);
}
