<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale="1">
    <title>Paul Sheridan</title>
    <link rel="shortcut icon" type="image/png" href="{% static "portfolio/images/favicon4.png" %}">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "portfolio/vendor/styles/normalize.css" %}">
    <link rel="stylesheet" href="{% static "portfolio/vendor/styles/skeleton.css" %}">
    <link rel="stylesheet" href="{% static "portfolio/styles/base.css" %}">
    <link rel="stylesheet" href="{% static "portfolio/styles/modules.css" %}">
  </head>
  <body>
    <header class="header-content row">
      <nav class="nav-bar">
        <ul>
          {% block header %}
          {% endblock %}
        </ul>
      </nav>
    {% block content %}
    {% endblock %}
    <footer class="row">
      <img id="footer-deco" src="{% static "portfolio/images/footer-deco.png" %}" alt="">
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
    <script src="{% static "portfolio/vendor/scripts/page.js" %}"></script>
    <script src="{% static "portfolio/scripts/viewControl.js" %}"></script>
  </body>
</html>
