{% extends "base.html" %}

      {% block header %}
        {% if not user.is_authenticated %}
          <li class="tab" data-content="portfolio"><a href="#portfolio" class="">My Work</a></li>
          <li class="tab" data-content="email"><a href="mailto:paul.sheridan@me.com" class="">Email Me</a>
          <li class="tab" data-content="resume"><a href="{{ MEDIA_ROOT }}/paulsheridanresume.pdf">Resume</a></li>
          <!-- <li class="tab" data-content="login"><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li> -->
        {% else %}
          <li class="tab" data-content="add"><a href="{% url 'project-add' %}" class="">Add Entry</a></li>
          <li class="tab" data-content="logout"><a href="{% url 'logout' %}" class="">Logout</a></li>
        {% endif %}
      {% endblock %}

{% block content %}
      <banner class="intro-banner row twelve columns">
        <h1>Hi, I'm Paul.</h1>
        <p>I make websites and get in fights.</p>
      </banner>
    </header>
    <main class="container row">
      <section id="about-me" class="about-me row">
        <div class="three columns education">
          <h4>Education</h4>
          <ul>
            <li>Code Fellows</li>
            <li>Western Washington University</li>
          </ul>
        </div>
        <div class="six columns">
          <h4>About Me</h4>
          <p>I’m a full stack Python developer with a background in mobile video game publishing and internal tools development.  I’m passionate about creating interesting, streamlined, effective data-driven solutions.</p>
        </div>
        <div class="three columns experience">
          <h4>Experience</h4>
          <ul>
            <li>Big Fish Games</li>
            <li>Tableau</li>
            <li>Apple, Inc.</li>
          </ul>
        </div>
        <ul id="social-icons" class="offset-by-two eight columns">
          {% load staticfiles %}
          <li><a href="https://github.com/paulsheridan"><img src="{% static "portfolio/images/github.svg" %}" alt=""></a></li>
          <li><a href="https://twitter.com/borealisrex"><img src="{% static "portfolio/images/twitter.svg" %}" alt=""></a></li>
          <li><a href="https://linkedin.com/in/paulsheridan01"><img src="{% static "portfolio/images/linkedin.svg" %}" alt=""></a></li>
        </ul>
      </section>
      <section class="portfolio row" id="portfolio">
        <h3>My Work</h3>
        {% for project in projects %}
        <article class="project">
          <div class="four columns" id="project-text">
            <h4 class="title">{{ project.title }}</h4>
            <p class="published">Published: <time>{{ project.published }}</time></p>
            <p class="description">{{ project.description }}</p>
          </div>
          <img class="eight columns" id="project-picture" src="{{ project.image }}" alt="">
          <nav class="twelve columns">
            <div id="edit-buttons">
              {% if user.is_authenticated %}
              <a href="{% url 'project-update' project.pk %}" class="button">Edit Entry</a>
              <a href="{% url 'project-delete' project.pk %}" class="button">Delete Entry</a>
              {% endif %}
            </div>
            <div id="project-buttons">
              <a href="{{ project.github }}" class="button">View on Github</a>
              {% if project.url %}
              <a href="{{ project.url }}" class="button button-primary">{{ project.button_text }}</a>
              {% endif %}
            </div>
          </nav>
        </article>
        {% endfor %}
      </section>
    </main>
{% endblock %}
