{% extends "base.html" %}

        {% block header %}
          <li class="tab" data-content="home"><a href="{% url 'project-list' %}" class="">Home</a></li>
        {% endblock %}

{% block content %}
</header>
<section class="container new">
  <h2>Add or Edit a Project</h2>
  <form id="new-project" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Project Title</label>{{ form.title }}
    <label>Project URL</label>{{ form.url }}
    <label>GitHub URL</label>{{ form.github }}
    <label>Button Text</label>{{ form.button_text }}
    <label>Published Date</label>{{ form.published }}
    <label>Description</label>{{ form.description }}
    <label>Image</label>{{ form.image }}
    <input class="button-primary" type="submit" value="Submit">
  </form>
</section>
{% endblock %}
