{% extends "base.html" %}

        {% block header %}
          <li class="tab" data-content="home"><a href="{% url 'index_page' %}" class="">Home</a></li>
        {% endblock %}

{% block content %}
</header>
<section class="container new">
  <h2>Add or Edit a Project</h2>
  <form id="new-project" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <ul class="twelve columns">
      <li class="four columns"><label>Project Title</label>{{ form.title }}</li>
      <li class="four columns"><label>Project URL</label>{{ form.url }}</li>
      <li class="four columns"><label>GitHub URL</label>{{ form.github }}</li>
      <li class="four columns"><label>Button Text</label>{{ form.button_text }}</li>
      <li class="four columns"><label>Description</label>{{ form.description }}</li>
      <li class="four columns"><label>Published Date</label>{{ form.published }}</li>
      <li class="four columns"><label>Image</label>{{ form.image }}</li>
    </ul>
    <input class="button-primary" type="submit" value="Submit">
  </form>
</section>
{% endblock %}


image = models.ImageField(upload_to='media/projects')
published = models.CharField(max_length=30)
