</header>
<section class="new">
  <form id="new-project" action="" method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="six columns">
        <label for="project-title">Project Title</label>
        <input class="u-full-width" type="text" id="project-title">
      </div>
      <div class="six columns">
        <label for="project-title">Project URL</label>
        <input class="u-full-width" type="url" id="project-url">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <label for="project-title">Github URL</label>
        <input class="u-full-width" type="url" id="github-url">
      </div>
      <div class="six columns">
        <label for="button-text">Button Text</label>
        <select class="u-full-width" id="button-text">
          <option value="Option 1">Play it!</option>
          <option value="Option 2">Visit Site</option>
          <option value="Option 3">Go there!</option>
        </select>
      </div>
    </div>
    <label for="description">Project Description</label>
    <textarea class="u-full-width" placeholder="Describe the project and the technology used to create it." id="description"></textarea>
    </label>
    <input class="button-primary" type="submit" value="Submit">
  </form>
</section>
