<script id="project-template" type="text/x-handlebars-template">
  <article class="project">
    <div class="four columns" id="project-text" class="{{textClass}}">
      <h4 class="title">{{title}}</h4>
      <p class="published">Published: <time>{{publishedDate}}</time></p>
      <p class="description">{{description}}</p>
    </div>
    <img class="eight columns" id="project-picture" src="{{imgURL}}" alt="">
    <div id="project-buttons" class="twelve columns">
      <a href="{{projectURL}}" class="button button-primary">{{buttonText}}</a>
      <a href="{{githubURL}}" class="button">View on Github</a>
    </div>
  </article>
</script>
