{% extends "index.html" %}
{% block header %}
    <li class="tab"><a href="/logout">Log Out</a></li>
    <li class="tab"><a href="/">Home</a></li>
{% endblock %}
{% block content %}
<form method=post id="add-entry">
    <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
    <div class="row">
        <div class="six columns">
            <label>Title This Bastard</label>
            {{ form.title(class_="u-full-width") }}
        </div>
        <div class="six columns"></div>
    </div>
        <label>Write Your Stuff</label>
            {{ form.text(class_="u-full-width") }}
    <label>
            <button class="button-primary" type="submit" value="Submit">Crush It!</button>
    </label>
</form>
{% endblock %}
