<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1">
        <title>Paul Blog</title>
        <link rel="shortcut icon" type="image/png" href="/static/styles/images/favicon4.png"/>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/vendor/styles/normalize.css">
        <link rel="stylesheet" href="/static/vendor/styles/skeleton.css">
        <link rel="stylesheet" href="/static/styles/base.css">
        <link rel="stylesheet" href="/static/styles/modules.css">
    </head>
    <body>
        <header class="header-content row">
            <nav class="nav-bar">
                <ul>
                    {% block header %}{% endblock %}
                </ul>
            </nav>
            <banner class="intro-banner row twelve columns">
                <h1>Paulthon</h1>
            </banner>
        </header>
        <main class="container row">
            {% block content %}{% endblock %}
        </main>
        <footer>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.amd.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="/static/ajax.js"></script>
    </body>
</html>
