{% extends 'index.html' %}
{% block header %}
{% if request.has_permission('edit') %}
<li class="tab"><a href="/logout">Log Out</a></li>
    <li class="tab"><a href="/add">Write a Post</a></li>
{% else %}
    <li class="tab"><a href="/login">Log In</a></li>
{% endif %}
{% endblock %}
{% block content%}
    <h3>Absorb these words into your soul:</h3>
    <section class="posts row" id="posts">
        <ul>
            {% for entry in entries %}
              <li>
                  <a href="/entries/{{ entry.id }}">{{ entry.title }}</a>
                  <p>Last Updated: {{ entry.created }}</p>
              </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
